<!DOCTYPE html>
<html>
  <head>
    <title>Tic Rack Toe</title>
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/tictactoe.css">
  </head>

  <body>
    <header>
      <h1><a href="/">Tic Rack Toe</a></h1>
    </header>

    <main>
    <form class="pure-form" method="post" action="/game/new">
      <fieldset>
        <legend>Board Size</legend>

        <label class="pure-radio">
          <input type="radio" name="board_size" value="board_3x3" checked/>
          3x3
        </label>
        <label class="pure-radio">
          <input type="radio" name="board_size" value="board_4x4"/>
          4x4
        </label>
      </fieldset>

      <fieldset>
        <legend>Game Mode</legend>

        <label class="pure-radio">
          <input type="radio" name="game_mode" value="human_human" checked/>
          Human vs. Human
        </label>
        <label class="pure-radio">
          <input type="radio" name="game_mode" value="human_computer"/>
          Human vs. Computer
        </label>
        <label class="pure-radio">
          <input type="radio" name="game_mode" value="computer_human"/>
          Computer vs. Human
        </label>
        <label class="pure-radio">
          <input type="radio" name="game_mode" value="computer_computer"/>
          Computer vs. Computer
        </label>
      </fieldset>

      <button type="submit" class="pure-button pure-input-1 pure-button-primary">Play!</button>
    </form>
    </main>
  </body>
</html>
